#-------------------
# Github Action - Test
#------------------

name: Git-Test-Actions

env:
  APLICATION_NAME : "MyFlask"
  PACKAGE_NAME    : "flask-deploy-file-v-${{ github.sha }}"

on: 
  push:
    branches: 
      - main

jobs:
  test_build:
    runs-on: ubuntu-latest

    steps:
    - name: List current folder before checkout
      run: ls -la
    - name: Git clone repo
      uses: actions/checkout@v1
    - name: Run a one-line script in Build
      run: echo Hello, world Build Job!
    - name: Run multi-line script
      run: |
        echo hello from action to build,
        echo "App name: ${{ env.APLICATION_NAME }}"
    - name: List current folder after checkout
      run: ls -la
        
  test_deploy:
    runs-on: ubuntu-latest
    needs: [test_build]
    
    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script in Deploy
      run: echo Hello, world from Deploy Job!
    - name: Run multi-line script
      run: |
        echo "Hello from action to build"
        echo "Deplloy package name is ${{ env.PACKAGE_NAME }}"
        aws --version
        zip
  
