#-------------------
# Github Action - Test
#------------------

name: Git-Test-Actions

on: 
  push:
    branches: 
      - main

jobs:
  test_build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo Hello, world Build Job!
    - name: Run multi-line script
      run: |
        echo Add othr action to build,
        echo test, and deploy your project.
  test_deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo Hello, world from Deploy Job!
    - name: Run multi-line script
      run: |
        echo Add othr action to build,
        echo test, and deploy your project. 
  
